.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  opacity: 0;
  transition: opacity 0.3s ease;
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
  pointer-events: none;
}

.modal {
  background: #50432d;
  border-radius: 12px;
  padding: 24px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);

  transform: translateY(-30px);
  opacity: 0;
  transition: all 0.3s ease;
}

.modalShow {
  opacity: 1;
  transform: translateY(0);
}

.modalHide {
  opacity: 0;
  transform: translateY(-30px);
}

.title {
  color: #e7d4bb;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 16px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input,
.fileInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.input:focus,
.fileInput:focus {
  outline: none;
  border: 2px solid rgb(66, 45, 7)
}
/* Стандартную кнопку можно детальнее стилизовать через обёртку label */
.fileInput::file-selector-button {
  background: #29281e;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 12px;
}

.cancel {
  background: #ddd;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
}

.cancel:hover {
  background: #ccc;
}

.submit {
  background: #29281e;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.submit:hover {
  box-shadow: 0 8px 20px rgba(226, 215, 198, 0.4); /* синяя мягкая тень */
  transform: translateY(-2px);
}

.notificationOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20px;
  pointer-events: none;
  z-index: 10000;
}

.notification {
  padding: 12px 20px;
  border-radius: 8px;
  color: white;
  font-weight: 500;
  max-width: 90%;
  text-align: center;
  pointer-events: auto;
  animation: fadeInOut 3s ease-in-out;
}

.success {
  background-color: #4caf50;
}

.error {
  background-color: #f44336;
}

@keyframes fadeInOut {
  0% { opacity: 0; transform: translateY(-20px); }
  10% { opacity: 1; transform: translateY(0); }
  90% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(-20px); }
}